<div class="navbar">

    

    <!-- CENTER SEARCH -->
    <div class="nav-center">
        <div class="search-box">
            <span class="search-icon">🔍</span>
            <input type="text" placeholder="Search rules, stocks, subscribers..." />
            <span class="shortcut">⌘K</span>
        </div>
    </div>

    <!-- RIGHT -->
    <div class="nav-right">

        <!-- LIVE STATUS -->
        <div class="live">
            <span class="dot"></span>
            LIVE · NYSE
        </div>

        <!-- NOTIFICATION -->
        <div class="bell">
            🔔
            <span class="notif">3</span>
        </div>

        <!-- USER -->
        <div class="user">
            <div class="avatar">👤</div>
            <span>ops@admin</span>
        </div>

    </div>

</div>