.layout {
  display: flex;
  background: #0b1320;
  color: #e6edf3;
}

/* MAIN */
.main {
  flex: 1;
  padding: 22px 30px;
}
.main {
  margin-left: 260px;   /* ✅ SAME AS SIDEBAR WIDTH */
  padding: 22px 30px;
}

/* TITLE */
.title h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 6px;
}

.title p {
  color: #8ca0b3;
  font-size: 14px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin: 22px 0;
}

.card {
  background: #1c2b3a;
  padding: 18px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2a4a3a;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card.highlight {
  background: linear-gradient(135deg, #0d3f2c, #065f46);
  border: 1.5px solid #1db954;
}

.card-content p {
  font-size: 12px;
  color: #8ca0b3;
}

.card-content h2 {
  font-size: 22px;
  margin: 8px 0;
}

.card-content span {
  font-size: 12px;
  color: #1db954;
}

.icon-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-box svg {
  width: 24px;
  height: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-green {
  background: rgba(29, 185, 84, 0.2);
  color: #1db954;
}

.icon-cyan {
  background: rgba(0, 207, 232, 0.2);
  color: #00cfe8;
}

.icon-box lucide-icon {
  width: 20px;
  height: 20px;
  color: #1db954;
}

/* CHARTS */
.charts {
  display: flex;
  gap: 18px;
}

.chart-box {
  flex: 2;
  background: #1c2b3a;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #243447;
}

.chart-box.small {
  flex: 1;
}

.chart-box h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

/* LEGEND */
.legend {
  margin-top: 12px;
}

.legend div {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 6px 0;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.green { background: #1db954; }
.blue { background: #06b6d4; }
.lightblue { background: #3b82f6; }
.orange { background: #f59e0b; }

/* TABLE */
.table-box {
  margin-top: 20px;
  background: #1c2b3a;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #243447;
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 5px; 
  background-color: #1db954;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 0; 
}
button:hover {
  background-color: #16a085;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  color: #8ca0b3;
  font-size: 12px;
  padding: 10px 0;
}

td {
  padding: 14px 0;
  border-top: 1px solid #2a3b4f;
  font-size: 13px;
}

.green-text {
  color: #1db954;
}